.booking-container {
    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    .price {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        
        h2 {
            font-size: 28px;
            font-weight: 900;
            margin-right: 5px;
        }
    }
    .price-estimate {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        color: #898989;
        padding-bottom: 19px;
        border-bottom: 1px solid #e6ddddf5;
        i {
            margin-left: 5px; 
            color: black;
        }
    }
    .show-booking-form {
        margin-top: 19px;
        
        border-bottom: 1px solid #e6ddddf5;      
        .show-booking-start {
            display: flex;
            flex-direction: column;
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 20px;
            p {
                margin-bottom: 3px;
            }
            > div {
                display: flex;
                flex-direction: row;

                .show-booking-start-datepicker {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 55%;
                    padding: 10px 5px 10px 5px;
                    border: 1px solid lightgray;
                    border-right: 0;
                    .DayPickerInput {
                        width: 80%;
                        font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                        font-size: 13px;
                        font-weight: 500;
                        input {
                            width: 123%;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .show-booking-start-timeselect {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 45%;
                    padding: 10px 5px 10px 5px;
                    font-size: 13px;
                    letter-spacing: .06em;
                    text-align: center;
                    border: 1px solid lightgray;
                    select {
                        width: 100%;
                        border: none;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
        .show-booking-end {
            display: flex;
            flex-direction: column;
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 20px;
            p {
                margin-bottom: 3px;
            }
            > div {
                display: flex;
                flex-direction: row;

                .show-booking-end-datepicker {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 55%;
                    padding: 10px 5px 10px 5px;
                    border: 1px solid lightgray;
                    border-right: 0;
                    .DayPickerInput {
                        width: 80%;
                        font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                        font-size: 13px;
                        font-weight: 500;
                        input {
                            width: 123%;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .show-booking-end-timeselect {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 45%;
                    padding: 10px 5px 10px 5px;
                    font-size: 13px;
                    letter-spacing: .06em;
                    text-align: center;
                    border: 1px solid lightgray;
                    select {
                        width: 100%;
                        border: none;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
        .show-booking-location {
            display: flex;
            flex-direction: column;
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 20px;
            label {
                margin-bottom: 3px;
            }
            > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 1px solid lightgray;
                select {
                    border: none;
                    width: 100%;
                    padding: 10px 5px 10px 10px;;
                    font-size: 13px;
                    letter-spacing: .06em;
                    text-align: center;
                    &:hover {
                        cursor: pointer;
                    }
                }
                i {
                    margin-right: 15px;
                }
            }
        }
        button {
            box-sizing: border-box;
            font-size: 16px;
            font-weight: 700;
            color: white;
            background-color: #593cfb;
            width: 100%;
            text-align: center;
            padding: 15px 10px 15px 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e6ddddf5;
            &:hover {
                background-color: #2d17a5;
            }
        }
    }
    .free-cancellation {
        display: flex;
        align-items: center;
       
        margin: 20px 0 20px 0;
        
        i {
            color: #593cfb;
            margin: 10px;
        }
        > div {
            font-size: 15px;
            p {
                font-size: 13px;
                color: #949494;
                white-space: nowrap;
            }
        }
    }
    .distance-included {
        border-top: 1px solid #e6ddddf5;
        border-bottom: 1px solid #e6ddddf5;
   
        div {
            display: flex;
            justify-content: space-between;
            align-content: center;
            font-size: 15px;
            margin-top: 20px;
            div {
                margin: 0;
            }
        }
        > p {
            font-size: 13px;
            color: #5d5d5d;
            margin-bottom: 20px;
        }
    }
    .booking-insurance {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6ddddf5;
        > p:first-child {
            font-size: 12px;
            font-weight: 900;
            color: #898989;
            margin-bottom: 5px;
        }
        > div {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            i {
                padding-left: 5px;
                font-weight: 300;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    > button {
        box-sizing: border-box;
        text-align: center;
        margin-top: 10px;
        padding: 5px 10px 5px 10px;
        border: 1px solid black;
        font-size: 16px;
        font-weight: 700;
        i {
            margin-right: 5px;
        }
        &:hover {
            background-color: rgba(238, 237, 237, 0.986);
        }
    }
    .booking-form-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        
        border-bottom: 1px solid #e6ddddf5;
        i {
            margin: 20px 15px 20px 15px; 
            &:hover {
                 cursor: pointer;
            }
        }
    }
    > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        color: #593cfb;
        margin-top: 5px;
        p {
            margin-top: 10px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        
    }
}

.checkout {
    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
    padding: 111px 200px 20px 200px;
    h1 {
        font-size: 38px;
        font-weight: 900;
        letter-spacing: -.2px;
    }
    .free-cancellation {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        align-items: center;
        i {
            color: #593cfb;
            margin-right: 16px;
        }
        > div {
            flex-direction: column;
            p:first-child {
                font-size: 15px;
                font-weight: 400;
                color: rgb(18, 18, 20);
            }
            p:last-child {
                font-size: 12px;
                font-weight: 500;
                color: #898989;
            }
        }
    }
}

.checkout-info {
    display: flex;
    flex-direction: row;
}

.booking-form {
    width: 590px;
    min-width: 590px;
    border-top: 1px solid lightgrey;
    > p {
        font-size: 13px;
        font-weight: 500;
        margin-top: 10px;
        color: rgb(35, 31, 32);
    }
    > button {
        margin-top: 16px;
        width: 132px;
        height: 35px;
        background-color: #593cfb;
        text-align: center;
        color: white;
        font-weight: 700;
        &:hover {
            background-color: #2d17a5;
        }
    }
 }

 .booking-form-extras {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid lightgrey;
        h2 {
            color: #231f20;
            padding: 15px 10px 15px 0;
        }
        div {
            color: #593cfb;
            margin: 15px 0 15px 0;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
}

.booking-form-protection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid lightgrey;
        h2 {
            color: #231f20;
            padding: 15px 10px 15px 0;
        }
        div {
            color: #593cfb;
            margin: 15px 0 15px 0;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
}

.booking-form-payment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid lightgrey;
        h2 {
            color: #231f20;
            padding: 15px 10px 15px 0;
        }
        div {
            color: #593cfb;
            margin: 15px 0 15px 0;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
}

.booking-form-insurance {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid lightgrey;
        h2 {
            color: #231f20;
            padding: 15px 10px 15px 0;
        }
        div {
            color: #593cfb;
            margin: 15px 0 15px 0;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
}

.booking-form-tos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    label {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        font-size: 13px;
        font-weight: 500;
        margin: 2px 0 0 10px;
        a {
            color: #593cfb;
            font-weight: 600;
            margin: 0 5px 0 5px;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

.trip-info {
    margin-left: 50px;
    width: 300px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
}

 .trip-info-images {
        display: flex;
        flex-direction: row;
        padding: 20px;
        img {
            height: 137px;
            width: 215px;
            object-fit: contain;
            box-sizing: border-box;
            border-radius: 3px;
        }
        > div {
            flex-direction: column;
            justify-content: center;
            margin-left: -45px;
            > div {
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                border-radius: 20px;
                padding: 7px 15px;
                box-shadow: 0 2px 5px 0 rgba(255,241,240,0);
            }
        }
}

.trip-info-car {
    margin: 0 20px;
    > p {
        font-size: 12px;
        font-weight: 500;
    }
    .trip-info-car-info {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        font-weight: 700;
        p:first-child {
            font-size: 16px;
            margin-right: 8px;
        }
        p:last-child {
            font-size: 14px;
        }
    }
    .trip-info-car-rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        p:first-child {
            font-weight: 700;
        }
        i {
            color: #593cfb;
            margin-right: 5px;
        }
    }
}

.trip-info-schedule {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    padding: 15px 0;
    .trip-info-schedule-start {
        flex-direction: column;
        text-align: left;
        p:first-child {
            font-size: 16px;
            font-weight: 900;
        }
        p:last-child {
            color: rgb(137, 137, 137);
            font-size: 16px;
            font-weight: 400;
        }
    }
    .trip-info-schedule-icon {
        width: 21px;
        height: 10px;
        background-image: image-url("scheduleicon.png");
        background-position: 0 0;
        background-size: 21px 20px;
        margin: 20px auto;
    }
    .trip-info-schedule-end {
        flex-direction: column;
        text-align: right;
         p:first-child {
            font-size: 16px;
            font-weight: 900;
        }
        p:last-child {
            color: rgb(137, 137, 137);
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.trip-info-car-location {
    margin: 0 20px;
    padding: 25px 0 0;
    border-top: 1px solid #e6e6e6;
    p:first-child {
        font-size: 13px;
        font-weight: 600;
        color: #5d5d5d;
    }
    p:last-child {
        font-weight: 500;
    }
    i {
        padding: 5px;
        border: 1px solid black;
        border-radius: 20px;
    }
}

.trip-info-daily-estimate {
    margin: 0 20px;
    padding: 25px 0 0;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    div:last-child {
        font-weight: 900; 
    }
}

.trip-info-price-breakdown {
    margin: 0 20px;
    ul {
        border: 1px solid rgb(231, 231, 232);
        border-radius: 7px;
        background-color: rgb(244, 244, 244);
        padding: 15px 20px;
    }
}