.booking-container {
    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
    width: 30%;
    
    .price {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        width: 55%;
        h2 {
            font-size: 28px;
            font-weight: 900;
            margin-right: 5px;
        }
    }
    .price-estimate {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        color: #898989;
        padding-bottom: 19px;
        border-bottom: 1px solid #e6ddddf5;
        width: 55%;
        i {
            margin-left: 5px; 
            color: black;
        }
    }
    .show-booking-form {
        margin-top: 19px;
        width: 55%;
        border-bottom: 1px solid #e6ddddf5;      
        .show-booking-start {
            display: flex;
            flex-direction: column;
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 20px;
            p {
                margin-bottom: 3px;
            }
            select {
                width: 45%;
                padding: 10px 5px 10px 5px;;
                font-size: 13px;
                letter-spacing: .06em;
                border: 1px solid lightgray;
                text-align: center;
            }
            #show-booking-start-date {
                width: 55%;
                border-right: 0;
            }
        }
        .show-booking-end {
            display: flex;
            flex-direction: column;
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 20px;
            p {
                margin-bottom: 3px;
            }
            select {
                width: 45%;
                padding: 10px 5px 10px 5px;;
                font-size: 13px;
                letter-spacing: .06em;
                border: 1px solid lightgray;
                text-align: center;
            }
            #show-booking-end-date {
                width: 55%;
                border-right: 0;
            }
        }
        .show-booking-location {
            display: flex;
            flex-direction: column;
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 20px;
            label {
                margin-bottom: 3px;
            }
            select {
                width: 100%;
                padding: 10px 5px 10px 5px;;
                font-size: 13px;
                letter-spacing: .06em;
                border: 1px solid lightgray;
                text-align: center;
            }
        }
        button {
            box-sizing: border-box;
            font-size: 16px;
            font-weight: 700;
            color: white;
            background-color: #593cfb;
            width: 100%;
            text-align: center;
            padding: 15px 10px 15px 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e6ddddf5;
            
        }
    }
    .free-cancellation {
        display: flex;
        align-items: center;
        width: 55%;
        margin: 20px 0 20px 0;
        
        i {
            color: #593cfb;
            margin: 10px;
        }
        > div {
            font-size: 15px;
            p {
                font-size: 13px;
                color: #949494;
                white-space: nowrap;
            }
        }
    }
    .distance-included {
        border-top: 1px solid #e6ddddf5;
        border-bottom: 1px solid #e6ddddf5;
        width: 55%;
        div {
            display: flex;
            justify-content: space-between;
            align-content: center;
            font-size: 15px;
            margin-top: 20px;
            div {
                margin: 0;
            }
        }
        > p {
            font-size: 13px;
            color: #5d5d5d;
            margin-bottom: 20px;
        }
    }
    .booking-insurance {
        width: 55%;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6ddddf5;
        > p:first-child {
            font-size: 12px;
            font-weight: 900;
            color: #898989;
            margin-bottom: 5px;
        }
        > div {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            i {
                padding-left: 5px;
            }
        }
        > p:last-child {
            font-size: 12px;
            font-weight: 500;
            color: #898989;
           
        }
    }
    > button {
        box-sizing: border-box;
        width: 55%;
        text-align: center;
        margin-top: 10px;
        padding: 5px 10px 5px 10px;
        border: 1px solid black;
        font-size: 16px;
        font-weight: 700;
        i {
            margin-right: 5px;
        }
    }
    .booking-form-icons {
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        
        border-bottom: 1px solid #e6ddddf5;
        i {
            margin: 20px 15px 20px 15px; 
        }
    }
    > div:last-child {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        color: #593cfb;
        margin-top: 5px;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        p {
            margin-top: 10px;
        }
    }
}