
.category-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .category-browse {
        font-size: 22px;
        font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
        font-weight: bold;
        margin: 0 1120px 33px 0;
        white-space: nowrap;
    }

    .category {
        margin: 0 50px 100px 50px;
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            align-items: center;
            > div {
                padding: 0 5px 0 5px;
            }
            li {
                border-radius: 10px;
                box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.13);
                margin: 0 7px 0 7px;
                transition: box-shadow 0.5s;
                &:hover {
                    box-shadow: 0px 5px 25px -10px rgba(0,0,0,0.61);
                    color: #593CFB;
                    transform: scaleY(0.99);
                    transform: translateY(-1px);
                }
                
                > div {
                    font-size: 16;
                    font-weight: bold;
                    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                    text-align: center;
                    margin: 20px 40px 20px 40px;
                    
                }
                img {
                    border-radius: 10px 10px 0 0;
                    height: 155px;
                    width: 229px;
                    overflow: hidden;
                }
            }
            }
        }
}