.search {
    background-image: image-url("gtr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: center;
    height: 600px;
    overflow: hidden;
    position: relative;
    .slashes {
        position: absolute;
        height: 20px;
        width: 225px;
        top: 80px;
        left: 10px;
        opacity: 0.6;
    }
    .search-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 517px;
        h1 {
            display: block;
            font-size: 90px;
            font-family: 'Times New Roman', Times, serif;
            color: white;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
            color: white;
            font-size: 21px;
            font-weight: 900;
        }
        .search-bar {
            display: flex;
            background: white;
            border: 1px solid lightgray;
            border-radius: 50px;
            // box-shadow: -1px 3px 60px 27px rgba(0,0,0,0.58);
            box-shadow: -1px 3px 52px 16px rgba(0,0,0,0.55);
            margin-top: 30px;
            p {
                color: black;
                font-size: 11px;
                font-weight: bold;
            }
            .where {
                display: flex;
                flex-direction: column;
              
                padding: 9px 10px 9px 15px;
                border-right: 1px solid lightgray;
                > input {
                width: 330px;
                font-size: 18px;
                font-weight: 500;
                font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                }
            }
            .from {
                > p {
                    margin: 0 5px 0 5px;
                }
                display: flex;
                flex-direction: column;
                
                padding: 9px 20px 9px 5px;
                 border-right: 1px solid lightgray;
                > div {
                    display: flex;
                        > select{
                            font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                            font-size: 18px;
                            font-weight: 500;
                            border: none;
                        }
                }
            }
            .until {
                > p {
                    margin: 0 5px 0 5px;
                }
                display: flex;
                flex-direction: column;
                
                padding: 9px 10px 9px 5px;
                > div {
                    display: flex;
                        > select{
                                font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                                font-size: 18px;
                                font-weight: 500;
                                border: none;
                        }
                    }
            }
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f5a731f5;
                height: 45px;
                width: 45px;
                border-radius: 40px;
                margin-top: 8px;
                margin-right: 6px;
            }
    
        }
    }
  
}

.covid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    > p {
        font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
        font-size: 21px;
        font-weight: 900;
    }
   
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 35px;
        width: 960px;
        li {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            width: 320px;
            margin: 0 10px 0 10px;
            font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
            div {
                font-size: 21px;
                font-weight: 900;
                margin-bottom: 8px;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 15px;
            }
            button {
                color: #593CFB;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        img {
            height: 50px;
            width: 50px;
            margin: 10px 0 10px 0;
        }
    }
}

.safe-sharing {
    width: 600px;
    margin-top: 15px;
    > h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 51px;
        font-weight: 900;
    }
}

.div-city {
    position: fixed;
    height: 1px;
}  

.insurance {
     position: relative;
     background: white;
     color: #898989;
     font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
     font-size: 12px;
     font-weight: 900;
     border-radius: 20px;
     width: 265px;
     height: 86px;
     text-align: center;
     bottom: 56px;
     > p {
        margin: 16px 0 8px 0;
     }
     > button {
        display: flex;
        justify-content: center;
        align-content: center;
        img {
            height: 40px;
            width: 154px;
            margin: 0 56px 0 55px;
        }
     }
     
}