.search {
    background-image: image-url("gtr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: center;
    height: 600px;
    overflow: hidden;
    position: relative;
    .fa-angle-down {
        margin: 4px 5px 0 10px;
    }
    .slashes {
        position: absolute;
        height: 20px;
        width: 225px;
        top: 80px;
        left: 10px;
        opacity: 0.6;
    }
    .search-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 517px;
        h1 {
            display: block;
            font-size: 90px;
            font-family: 'Times New Roman', Times, serif;
            color: white;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
            color: white;
            font-size: 21px;
            font-weight: 900;
        }
        .search-bar {
            display: flex;
            background: white;
            border: 1px solid lightgray;
            border-radius: 50px;
            // box-shadow: -1px 3px 60px 27px rgba(0,0,0,0.58);
            box-shadow: -1px 3px 52px 16px rgba(0,0,0,0.55);
            margin-top: 30px;
            p {
                color: black;
                font-size: 11px;
                font-weight: bold;
            }
            .where {
                display: flex;
                flex-direction: column;
              
                padding: 9px 10px 9px 15px;
                border-right: 1px solid lightgray;
                > p {
                    margin-left: 5px;
                }
                > input {
                width: 335px;
                font-size: 18px;
                font-weight: 500;
                font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                padding-left: 5px;
                }

            }
            .from {
                > p {
                    margin: 0 5px 0 5px;
                }
                display: flex;
                flex-direction: column;
                
                padding: 9px 15px 9px 5px;
                border-right: 1px solid lightgray;
                > div {
                    display: flex;
                        > select{
                            font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                            font-size: 18px;
                            font-weight: 500;
                            border: none;
                        }
                }
                .DayPickerInput {
                    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    width: 110px;
                    padding-left: 5px;
                }
                .DayPicker-Day--selected {
                    color: #f5a731f5;
                    background-color: white;
                    border: 1px solid #f5a731f5;
                    border-radius: 50%;
                    
                }
                i {
                    font-weight: 700;
                }
            }
            .until {
                > p {
                    margin: 0 5px 0 5px;
                }
                display: flex;
                flex-direction: column;
                
                padding: 9px 10px 9px 5px;
                > div {
                    display: flex;
                        > select{
                            font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                            font-size: 18px;
                            font-weight: 500;
                            border: none;
                        }
                }
                .DayPickerInput {
                    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    width: 110px;
                    padding-left: 5px;
                }
                .DayPicker-Day--selected {
                    color: #f5a731f5;
                    background-color: white;
                    border: 1px solid #f5a731f5;
                    border-radius: 50%;
                }
            }
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f5a731f5;
                height: 45px;
                width: 45px;
                border-radius: 40px;
                margin-top: 8px;
                margin-right: 6px;
            }
    
        }
    }
   
}

.pac-container {
    margin-top: 10px;
    margin-left: 10px;
    width: 375px !important;
    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
    .pac-item {
        border-top: none;
        padding: 10px 0 10px 0;
        font-size: 13px;
        &:hover {
            cursor: pointer;
            color: #f5a731f5;
            background-color: none;
        }
        .pac-item-query {
            font-size: 16px;
            font-weight: 500;
            margin-right: 5px;
            .pac-matched {
                font-weight: 500;
            }
        }
        .pac-icon {
            margin: 6px 10px 0 10px;
        }
    }
}

.pac-logo:after {
    background-position: center;
}