.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.75);
  z-index: 10;
}

.login-modal-child {
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  min-height: 550px;
  max-height: 100%;
  width: 440px;
  padding: 30px;
}

.signup-modal-child {
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  min-height: 550px;
  max-height: 100%;
  width: 440px;
  padding: 30px;
}

.login-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
  h2 {
    box-sizing: border-box;
    font-size: 40px;
    margin: 30px 0 10px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    label {
      display: flex;
      justify-content: flex-start;
    }
    input {
      display: flex;
      justify-content: flex-start;
      margin: 5px 0 10px 0;
      padding: 5px 5px 5px 5px;
      border: 1px solid lightgray;
      text-align: left;
    }

    .error {
        border: 1px solid red;
    }
  
    button {
      font-size: 16px;
      font-weight: bold;
      color: white;
      background: black;
      border: 1px solid black;
      padding: 10px;
      margin-top: 10px;
    }
    
  }

  span {
    font-weight: bold;
    margin: 15px 0 15px 0;
  }  
  
  .demo-button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: black;
    border: 1px solid black;
    padding: 10px;
  }
  
  div {
    display: flex;
    margin: 50px 0 15px 0;
    justify-content: center;
    align-items: center;
    p {
      font-weight: 400;
      margin: 0 5px 0 5px;;
    }
    button {
      border: 1px solid black;
      font-weight: 550;
      margin: 0 5px 0 5px;
      padding: 5px 25px 5px 25px;
    }
  }
}

.session-errors li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  color: red;
  margin-top: 15px;
  i {
    margin-right: 5px;
  }
}

.signup-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    box-sizing: border-box;
    font-size: 36px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    margin: 30px 0 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-size: 13px;
    .name {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 5px 0 0 0;
      input {
        display: flex;
        justify-content: flex-start;
        margin: 5px 0 5px 0;
        padding: 5px 55px 5px 5px;
        text-align: left;
        border: 1px solid lightgray;
      }
      .error {
      border: 1px solid red;
      }
      label {
        display: flex;
        justify-content: flex-start;
      }
      .first-name {
        margin: 0 5px 0 5px;
        width: 50%;
      }
      .last-name {
        margin: 0 5px 0 5px;
        width: 50%;
      }
    }
    .license {
      text-align: left;
      font-size: 11px;
      margin-bottom: 10px;
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      label {
        display: flex;
        justify-content: flex-start;
      }
      input {
        display: flex;
        justify-content: flex-start;
        margin: 5px 0 10px 0;
        padding: 5px 5px 5px 5px;
        border: 1px solid lightgray;
        text-align: left;
      }
      .error {
        border: 1px solid red;
      }
      .password-error {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        font-size: 13px;
        color: red;
        p {
          align-self: center;
          margin-bottom: 5px;
          font-size: 13px;
        }
        i {
          margin-right: 5px;
        }
      }
      .terms {
        display: flex;
        align-items: center;
        font-size: 13px;
        a {
          margin: 0 2px 0 2px;
          font-weight: bold;
          color: #593CFB;
        }
        label {
          margin-left: 5px;
        }
      }
      .promo {
        display: flex;
        align-items: center;
        label {
          margin-left: 5px;
        }
      }
      button {
        font-size: 16px;
        font-weight: bold;
        color: white;
        background: black;
        border: 1px solid black;
        padding: 10px;
        margin-top: 10px;
      }
    }
  }
  .login {
    display: flex;
    margin: 50px 0 15px 0;
    justify-content: center;
    align-items: center;
    p {
      font-size: 16px;
      font-weight: 400;
      margin: 0 5px 0 5px;;
    }
    button {
      font-size: 16px;
      border: 1px solid black;
      font-weight: 550;
      margin: 0 5px 0 5px;
      padding: 5px 25px 5px 25px;
    }
  }
  
}