.sort-modal-background {
    position: fixed;
    left: 0;
    top: 155px;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255, 0.75);
    z-index: 10;
}

.sort-modal-child {
  position: fixed;
  top: 160px;
  left: 26px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(35,31,32,.15), 0 0 2px rgba(35,31,32,.05);
  box-sizing: border-box;
  height: 220px;
  width: 395px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 500;
    div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
    }
    input { 
        opacity: 0;
        height: 0;
        width: 0;
    }
    label {
        background-image: url('radiobuttons.png');
        background-position: -24px 0;
        background-size: 68px 68px;
        width: 22px;
        height: 22px;
        margin-right: 20px;
        cursor: pointer;
    }

    input:checked+label {
        background-image: url('radiobuttons.png');
        background-position: 0 -24px;
        background-size: 68px 68px;
        width: 22px;
        height: 22px;
        margin-right: 20px
    }
    button {
        height: 35px;
        width: 170px;
        text-align: center;
        background-color: #593CFB;
        color: white;
        font-weight: 600;
    }
  }
}