.covid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    > p {
        font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
        font-size: 21px;
        font-weight: 900;
    }
   
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 30px;
        width: 960px;
        li {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            width: 320px;
            margin: 0 10px 0 10px;
            font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
            div {
                font-size: 21px;
                font-weight: 900;
                margin-bottom: 8px;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 15px;
            }
            button {
                color: #593CFB;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        img {
            height: 50px;
            width: 50px;
            margin: 10px 0 10px 0;
        }
    }
}

.safe-sharing {
    width: 600px;
    margin-top: 15px;
    > h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 51px;
        font-weight: 900;
    }
}

.div-city {
    position: fixed;
    height: 1px;
}  

.insurance {
     position: relative;
     background: white;
     color: #898989;
     font-family: Avenir,Helvetica Neue,Helvetica,sans-serif;
     font-size: 12px;
     font-weight: 900;
     border-radius: 20px;
     width: 265px;
     height: 86px;
     text-align: center;
     bottom: 58px;
     > p {
        margin: 16px 0 8px 0;
     }
     > button {
        display: flex;
        justify-content: center;
        align-content: center;
        img {
            height: 40px;
            width: 154px;
            margin: 0 56px 0 55px;
        }
     }
     
}